@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* ヘッダー */

.layout_head_logo,
.layout_head_menu p {
  color: #707070;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.layout_head {
  width: 100%;
  height: 80px;
  background-color:#fff;
  border: solid 1px #707070;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 17px;
  padding-bottom: 16px;
  box-sizing: border-box;
  z-index: 9999;
}

.layout_head_logo {
  font-size: 40px;
  line-height: 42px;
  vertical-align: middle;
}

.layout_head_menu {
  width: 150px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  float: right;
}

.layout_head_menu p {
  font-size: 21px;
  line-height: 24px;
  position: relative;
}

.layout_head_menu p::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 47%;
  transform: rotate(135deg);
  width: 7px;
  height: 7px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
}

.layout_head_menu ul {
  margin-top: 21px;
  display: none;
}

.layout_head_menu ul li {
  font-size: 16px;
  line-height: 20px;
  background-color: #726D6D;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.layout_head_menu ul li:first-child {
  padding-top: 10px;
}

.layout_head_menu ul li:last-child {
  padding-bottom: 10px;
}

/* スクロール */

.dummy {
  height: 540px;
  background-color: aqua;
}

/* 全体 */

.layout_main {
  padding-top: 80px;
}

.layout_main_section {
  margin-top: 15px;
}

.layout_main_section_title {
  font-size: 40px;
  text-align: center;
}

.layout_main_section_contents {
  margin-top: 20px;
}

/* q１ */

.q1_box {
  float: left;
  margin-left: 30px;
  padding: 20px;
  width: 300px;
  background-color: #3274ae;
  box-sizing: border-box;
}

.q1_box:first-child {
  margin: 0;
}

.q1_text {
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
}

/* q２ */

.q2_table {
  width: 100%;
  table-layout: fixed;
}

.q2_table th,
.q2_table td {
  padding: 10px;
  border: 1px solid #dedede;
  text-align: center;
}

.q2_table th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff
}

.q2_table tr {
  font-size: 16px;
  line-height: 22px;
}

.q2_table tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q2_table > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

/* q３ */

.q3_boxes {
  width: 500px;
  height: 500px;
  background-color: #eee;
  margin: 0 auto;
  position: relative;
}

.q3_box {
  width: 100px;
  font-size: 30px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

.q3_box_1 {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
  z-index: 10;
}

.q3_box_2 {
  top: 120px;
  left: 280px;
  background-color: #7084de;
  z-index: 20;
}

.q3_box_3 {
  top: 200px;
  left: 360px;
  background-color: #d0ecea;
  z-index: 30;
}

.q3_box_4 {
  left: 280px;
  top: 280px;
  background-color: #8b7a5e;
  z-index: 40;
}

.q3_box_5 {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 50;
}

.q3_box_6 {
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  z-index: 60;
}

.q3_box_7 {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 70;
}

.q3_box_8 {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 80;
}

.q3_box_8::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  background-color: #ffefd3;
  position: absolute;
}

/* q４ */

.q4_wrapper {
  padding: 35px 0;
}

.q4_inner {
  margin-top: 50px;
}

.q4_inner:first-child {
  margin-top: 0;
}

.q4_inner_title {
  font-size: 14px;
}

.q4_inner_contents,
.q4_white,
.q4_blue,
.q5_inner_contents,
.q5_white,
.q5_white_calc {
  border: solid 1px#707070;
  box-sizing: border-box;
}

.q4_inner_contents {
  width: 500px;
  padding: 10px 0;
  margin: 13px auto 0 auto;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
}

.q4_white {
  width: 200px;
  background-color: #fff;
}

.q4_white_small {
  padding: 10px 0;
}

.q4_white_large {
  height: 130px;
}

.q4_blue {
  width: 90px;
  height: 20px;
  padding: 3px 0;
  font-size: 12px;
  background-color: #e3f6ff;
}

.q4_text_center {
  text-align: center;
}

.q4_display_inline {
  display: inline-block;
}

.q4_mx_auto {
  margin: 0 auto;
}

.q4_table {
  display: table;
}

.q4_table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q4_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q4_relative {
  position: relative;
}

.q4_fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q4_flexible {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}

/* q５ */

.q5_wrapper {
  padding: 21px 0 75px;
}

.q5_inner {
  margin-top: 21px;
}

.q5_inner:first-child {
  margin-top: 0;
}

.q5_text_center {
  text-align: center;
}

.q5_inner_title {
  font-size: 14px;
}

.q5_inner_contents {
  width: 500px;
  padding: 20px 34px;
  margin: 13px auto 0 auto;
  background-color: #eee;
}

.q5_inner:last-child .q5_inner_contents {
  padding: 20px 0;
}

.q5_white,
.q5_white_calc {
  padding: 10px;
  font-size: 12px;
  line-height: 24px;
  background-color: #fff;
}

.q5_white {
  width: 200px;
}

.q5_float,
.q5_white.q5_inline_block {
  margin-left: 30px;
}

.q5_float:first-child,
.q5_white.q5_inline_block:first-child,
.q5_white_calc:first-child {
  margin-left: 0;
}

.q5_float {
  float: left;
}

.q5_table {
  display: table;
}

.q5_table_cell {
  display: table-cell;
  padding-left: 30px;
}

.q5_table_cell:first-child {
  padding-left: 0;
}

.q5_font0 {
  font-size: 0;
}

.q5_inline_block {
  display: inline-block;
}

.q5_flex {
  display: flex;
  justify-content: space-between;
}

.q5_white_calc {
  width: calc((100% - 50px) / 3);
  margin-left: 25px;
}

.q5_white_calc:first-child {
  border-left: none;
}

.q5_white_calc:last-child {
  border-right: none;
}

/* q6 */

.q6_inner {
  display: flex;
  justify-content: center;
}

.q6_py {
  padding-bottom: 70px;
}

.q6_mt {
  margin-top: 62px;
}

.q6_img_box {
  width: 242px;
  height: 164px;
  margin-left: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.q6_img_box:first-child {
  margin-left: 0;
}

.q6_img_box.q6_img_large:hover .q6_img {
  transform: scale(1.5);
}

.q6_img {
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.q6_text {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .5s;
}

.q6_text p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #FFF;
  box-sizing: border-box;
  word-break: break-all;
}

.q6_img_box.q6_img_slideup:hover .q6_text {
  bottom: 0;
}

/* q7 */

.q7_wrapper {
  padding-bottom: 300px;
}

.q7_inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.q7_balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  margin-left: 35px;
  border: 5px solid #222;
  border-radius: 30px;
  word-break: break-all;
}

.q7_balloon:before,
.q7_balloon:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  content: "";
}

.q7_balloon:before {
  left: -45px;
  border-right-color: #222;
}

.q7_balloon:after {
  left: -38px;
  border-right-color: #fff;
}