@charset "UTF-8";

/* .q3_boxes {
  width: 500px;
  height: 500px;
  background-color: #eee;
  margin: 0 auto;
  position: relative;
}

.q3_box {
  width: 100px;
  font-size: 30px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

.q3_box_1 {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
  z-index: 10;
}

.q3_box_2 {
  top: 120px;
  left: 280px;
  background-color: #7084de;
  z-index: 20;
}

.q3_box_3 {
  top: 200px;
  left: 360px;
  background-color: #d0ecea;
  z-index: 30;
}

.q3_box_4 {
  left: 280px;
  top: 280px;
  background-color: #8b7a5e;
  z-index: 40;
}

.q3_box_5 {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 50;
}

.q3_box_6 {
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  z-index: 60;
}

.q3_box_7 {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 70;
}

.q3_box_8 {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 80;
}

.q3_box_8::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  background-color: #ffefd3;
  position: absolute;
} */