@charset "UTF-8";

.q3 {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  position: relative;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.q3_fixed_box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #eee;
}

.common-box {
  width: 100px;
  padding: 35px 0;
  position: absolute;
  font-weight: bold;
}


.one-box {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
}

.two-box {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 10;
}

.three-box {
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 20;
}

.four-box {
  background-color: #8b7a5e;
  top: 280px;
  right: 120px;
  z-index: 30;
}

.five-box {
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
  z-index: 40;
}

.six-box {
  background-color: #fffee4;
  bottom: 120px;
  left: 120px;
  z-index: 50;
}

.seven-box {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 60;
}

.eight-box {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 70;
}

.eight-box:before {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  right: 0px;
  content: "";
}


/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */