@charset "UTF-8";

.q6_animation {
  display: flex;
  justify-content: center;
}

.q6_animation img {
  width: 300px;
}

.q6_img_one_animation {
  margin-right: 50px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.q6_img_one_animation img {
  transition-duration: 0.5s;
}

.q6_img_one_animation img:hover {
  transition-duration: 0.5s;
  transform: scale(1.5);
}

.q6_img_two_animation {
  position: relative;
  overflow: hidden;
}

.fukidashi {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 8));
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.q6_img_two_animation img  {
  vertical-align: bottom;
  width: 300px;
  transition-duration: 0.5s;
}

.q6_img_two_animation:hover .fukidashi {
  bottom: 0;
}

.fukidashi-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
}




.inner {
  width: 960px;
}

.inner_animation {
  overflow: hidden;
}

.animation_text {
  font-size: 200px;
  padding: 80px 0;
  animation: loop 10s linear infinite;
  transform: translateX(100%);
}

@keyframes loop {
  100% {
    transform: translateX(-100%);
  }
}
/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */