@charset "UTF-8";

.q6_inner {
  display: flex;
  justify-content: center;
}

.q6_py {
  padding-bottom: 70px;
}

.q6_mt {
  margin-top: 62px;
}

/* .q6_img_box {
  width: 242px;
  height: 164px;
  margin-left: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.q6_img_box:first-child {
  margin-left: 0;
}

.q6_img_box.q6_img_large:hover .q6_img {
  transform: scale(1.5);
}

.q6_img {
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.q6_text {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .5s;
}

.q6_text p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #FFF;
  box-sizing: border-box;
  word-break: break-all;
}

.q6_img_box.q6_img_slideup:hover .q6_text {
  bottom: 0;
}

アニメーションだから一応こっち

スクロール

.layout_key_visual {
  overflow: hidden;
}

.layout_key_visual_images {
  width: 200%;
  height: 540px;
}

.layout_key_visual img {
  width: 50%;
  height: 100%;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.layout_key_visual_images img:first-child {
  animation: loop 20s -30s linear infinite;
}

.layout_key_visual_images img:last-child {
  animation: loop2 20s linear infinite;
} */