@charset "UTF-8";

.balloon {
  padding: 20px;
  width: 500px;
  position: relative;
  border-radius: 30px;
  border: #222 solid 5px;
  margin-left: 35px;
  word-break: break-all;
}

.balloon::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  left: -45px;
  border-right-color: #222;
  bottom: 25px;
}

.balloon::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  left: -38px;
  border-right-color: #fff;
  bottom: 25px;
}

.layout_main_section_contents {
  margin-top: 50px;
}

.q7_inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}