@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* ヘッダー */

.layout_head_logo,
.layout_head_menu p {
  color: #707070;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.layout_head {
  width: 100%;
  height: 80px;
  background-color:#fff;
  border: solid 1px #707070;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 17px;
  padding-bottom: 16px;
  box-sizing: border-box;
  z-index: 9999;
}

.layout_head_logo {
  font-size: 40px;
  line-height: 42px;
  vertical-align: middle;
}

.layout_head_menu {
  width: 150px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

.layout_head_menu p {
  font-size: 21px;
  line-height: 24px;
  position: relative;
}

.layout_head_menu p::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 47%;
  transform: rotate(135deg);
  width: 7px;
  height: 7px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
}

.layout_head_menu ul {
  margin-top: 21px;
  display: none;
}

.layout_head_menu ul li {
  font-size: 16px;
  line-height: 20px;
  background-color: #726D6D;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.layout_head_menu ul li:first-child {
  padding-top: 10px;
}

.layout_head_menu ul li:last-child {
  padding-bottom: 10px;
}

/* スクロール */

.layout_key_visual {
  overflow: hidden;
}

.layout_key_visual_images {
  width: 200%;
  height: 540px;
}

.layout_key_visual img {
  width: 50%;
  height: 100%;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.layout_key_visual_images img:first-child {
  animation: loop 20s -30s linear infinite;
}

.layout_key_visual_images img:last-child {
  animation: loop2 20s linear infinite;
}

/* 全体 */

.layout_main {
  padding-top: 80px;
}

.layout_main_section {
  margin-top: 15px;
}

.layout_main_section_title {
  font-size: 40px;
  text-align: center;
}

.layout_main_section_contents {
  margin-top: 20px;
}
