@charset "UTF-8";

.q4_wrapper {
  padding: 35px 0;
}

.q4_inner {
  margin-top: 50px;
}

.q4_inner:first-child {
  margin-top: 0;
}

.q4_inner_title {
  font-size: 14px;
  text-align: center;
}

.q4_inner_contents {
  width: 500px;
  padding: 10px 0;
  margin: 13px auto 0 auto;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
}

.q4_white {
  width: 200px;
  background-color: #fff;
}

.q4_white_small {
  padding: 10px 0;
}

.q4_white_large {
  height: 130px;
}

.q4_blue {
  font-size: 12px;
}

/* .q4_inner_contents,
.q4_white,
.q4_blue {
  box-sizing: border-box;
}

.q4_blue {
  width: 90px;
  height: 20px;
  padding: 3px 0;
  font-size: 12px;
  background-color: #e3f6ff;
}

.q4_text_center {
  text-align: center;
}

.q4_display_inline {
  display: inline-block;
}

.q4_mx_auto {
  margin: 0 auto;
}

.q4_table {
  display: table;
}

.q4_table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q4_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q4_relative {
  position: relative;
}

.q4_fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q4_flexible {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
} */
