@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
}

.q5_float {
  float: left;
  width: 400px;
}

.float_contents_two {
  margin-left: 60px;
}


.main-table-contents {
  display: table;
  width: 100%;
}

.table_contents {
  display: table-cell;
}

.table_contents_two {
  display: table-cell;
}

.white-table-box-two {
  margin-left: 60px;
}

.inline-block-contents {
  font-size: 0px;
}

.q5_inline {
  display: inline-block;
  width: 400px;
}

.white-inline-box-two {
  margin-left: 60px;
}

.flex-contents {
  display: flex;
  flex-direction: row;
}

.q5_flex {
  width: 400px;
}

.white-flex-box-two {
  margin-left: 60px;
}

.calc-contents {
  display: flex;
  font-size: 0px;
}

.q5_calc {
  width: calc(100% / 3);
}

.inner-calc-contents-two {
  margin-left: 30px;
}

.inner-calc-contents-three {
  margin-left: 30px;
}
/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */