@charset "UTF-8";

.q5_inner_contents,
.q5_white,
.q5_white_calc {
  box-sizing: border-box;
}

.q5_wrapper {
  padding: 21px 0 75px;
}

.q5_inner {
  margin-top: 21px;
}

.q5_inner:first-child {
  margin-top: 0;
}

.q5_text_center {
  text-align: center;
}

.q5_inner_title {
  font-size: 14px;
}

.q5_inner_contents {
  width: 500px;
  padding: 20px 34px;
  margin: 13px auto 0 auto;
  background-color: #eee;
  border: solid 1px#707070;
}

.q5_inner:last-child .q5_inner_contents {
  padding: 20px 0;
}

.q5_white,
.q5_white_calc {
  padding: 10px;
  font-size: 12px;
  line-height: 24px;
  background-color: #fff;
}

.q5_white {
  width: 200px;
}

.q5_float,
.q5_white.q5_inline_block {
  margin-left: 30px;
}

.q5_float:first-child,
.q5_white.q5_inline_block:first-child,
.q5_white_calc:first-child {
  margin-left: 0;
}

.q5_float {
  float: left;
}

.q5_table {
  display: table;
}

.q5_table_cell {
  display: table-cell;
  padding-left: 30px;
}

.q5_table_cell:first-child {
  padding-left: 0;
}

.q5_font0 {
  font-size: 0;
}

.q5_inline_block {
  display: inline-block;
}

.q5_flex {
  display: flex;
  justify-content: space-between;
}

.q5_white_calc {
  width: calc((100% - 50px) / 3);
  margin-left: 25px;
}

.q5_white_calc:first-child {
  border-left: none;
}

.q5_white_calc:last-child {
  border-right: none;
}