@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q1__content {
  width: 960px;
}

.q1_content_box_one {
  float: left;
  margin-right: 30px;
  padding: 20px;
  width: 260px;
  background-color: #3274ae;
}

.q1_content_box_two {
  float: left;
  margin-right: 30px;
  padding: 20px;
  width: 260px;
  background-color: #3274ae;
}

.q1_content_box_three {
  float: left;
  padding: 20px;
  width: 260px;
  background-color: #3274ae;
}

.q1__content {
  margin-left: 0;
}

.q1_content_text {
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
}
/* q1が終わったら
q2のcssはq2フォルダの中のcssファイルに記述してください */